@charset "utf-8";

.all {
    width: 100%;
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    color: #000;
}

.box {
  opacity: 0;
  visibility: hidden;
  transform: translateY(8rem);
  transition: all 2s;
}

.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

@media (min-width:768px) {
    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.header-nav-list{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    padding: 0;
    margin: 0;
}

@media (min-width:768px) {
    .header-nav-list{
        column-gap: 1.5rem;
    }
}

.header-nav-list a{
    font-family: "Outfit","Noto sans JP";
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-shadow: 1px -1px rgba(255, 255, 255, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}

@media (min-width:768px) {
    .header-nav-list a{
        font-size: 1.5rem;
    }
}

.header-nav-list a:hover {
    opacity: .5;
}





.cover {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    position: relative;
    font-family: "Outfit","Noto sans JP";
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}


@media (min-width:768px) {
    h1 {
        font-size: 5rem;
    }
}


h1::after{  
    position: absolute;
    top: 200px;
    left: 50%;
    content: "";
    width: 20px;
    height: 20px;
    border-bottom: solid 3px #000;
    border-left: solid 3px #000;
    transform: rotate(315deg);

    animation: UpDown 2s ease-in infinite;
}

@media (min-width:768px) {
    h1::after{
        display: none;
    }
}

@keyframes UpDown {
    0% {
        transform: translateY(0) rotate(315deg);
    }
    50% {
        transform: translateY(10px) rotate(315deg);
    }
    100% {
        transform: translateY(0) rotate(315deg);
    }
}

.MainVisual::after {
    content: "|";
    color: #000;
    opacity: 0;
    animation: bar 1s 5.5;
  }
  
  @keyframes bar {
    0%{
      opacity: 1;
    }
    50% {
      opacity: 0;
    } 
    
    100% {
        opacity: 1;
    }
  }
  
  .MainVisual-text {
    font-size: 1rem;
    opacity: 0;
    transition: all 1s;
    animation: fadeIn 1.5s ease-in 5s forwards;
  }

  @keyframes fadeIn {
    0%{
      opacity: 0;
      transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }


  @media (min-width:768px) {
    .MainVisual-text {
        font-size: 2rem;
      }
}

  .active {
    opacity: 1;         /* 透明度を元に戻す */
    top: 0;             /* ずらしていた位置を戻すことで上に上がっているようにみえる */
  }







  .about {
    width: 100%;
    height: auto;
  }

  @media (min-width:768px) {
    .about {
        display: flex;
        justify-content: center;
      }
  }

  .about h2 {
    font-family: "Outfit","Noto sans jp";
    font-size: 3rem;
    color: #000;
    text-align: left;
  }

  @media (min-width:768px) {
    .about h2 {
        font-size: 6rem;
    }
  }

  .about-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  @media (min-width:768px) {
    .about-container {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 5rem;
      }
  }

  .about-top {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .8rem;
    margin-bottom: 3rem;
  }

.about-top img{
    width: 100%;
    height: auto;
}

.about-top-text {
    font-size: .8rem;
    font-weight: bold;
    color: darkgray;
   overflow-wrap: break-word;
}

@media (min-width:768px) {
    .about-top-text {
        font-size: 1.25rem;
    }
  }

.about-bottom {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:768px) {
    .about-bottom {
        width: 30%;
        display: flex;
        padding: 2rem;
    }
  }
  
.skill-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.skill-container-title {
    font-family: "Outfit","Noto sans jp";
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
}

@media (min-width:768px) {
    .skill-container-title {
        font-family: "Outfit","Noto sans jp";
        font-size: 3rem;
        margin-top: 2rem;
    }
  }

.skill-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-content-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width:768px) {
    .skill-content-title {
        font-size: 1.5rem;
    }
  }

.skill-content-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.skill-content-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
}

.skill-content-box i {
    font-size: 5rem;
    color: coral;
    transition: all 1s;
}

@media (min-width:768px) {
    .skill-content-box i {
        font-size: 3rem;
        color: coral;
    }
  }

  @media (min-width:1080px) {
    .skill-content-box i {
        font-size: 5rem;
        color: coral;
    }
  }

  .skill-content-box i:hover{
    opacity: .5;
  }

.skill-content-text {
    font-family: "Outfit","Noto sans jp";
    font-size: .8rem;
    font-weight: 400;
    color: darkgray;
    text-align: center;
}

@media (min-width:768px) {
    .skill-content-text {
        font-size: 1.25rem;
    }
  }






  .work {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .work h2 {
    font-family: "Outfit","Noto sans jp";
    font-size: 3rem;
    color: #000;
    text-align: right;
    margin-bottom: 2.5rem;
  }

  @media (min-width:768px) {
    .work h2 {
        font-size: 6rem;
    }
  }
  

.work-content {
    display: flex;
    flex-direction: row;
}

.work-content-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 1rem;
}

.work-content-box {
    width: calc((100% - 2rem) / 3);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;

    border: .5px solid #000;
    border-radius: 5px;
    box-shadow: 1px 1px 10px darkgray;
    padding: .5rem;

    transition: all .5s;
}

.work-content-box:nth-child(2){
  transition: all 1s;
}

.work-content-box:nth-child(3){
  transition: all 1.5s;
}

.work-content-box:hover {
    background-color: rgba(255,127,80,0.3 );
}

.work-content-box img {
    width: 100%;
    height: auto;
}

.work-content-box a {
  text-decoration: none;
  color: #000;
}

.work-content-text {
    font-family: "Outfit","Noto sans jp";
    font-size: calc(4.75 / 375 * 100vw);
    font-weight: 400;
    color: darkgray;
    text-align: left;
}

@media (min-width:768px) {
    .work-content-text {
        font-size: calc(10 / 768 * 100vw);
    }
  }



  

  .contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
  }

  .contact h2 {
    font-family: "Outfit","Noto sans jp";
    font-size: 3rem;
    color: #000;
    text-align: right;
    margin-bottom: 2.5rem;
    opacity: 0;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .contact-button {
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    transition: all 1s;
    padding: .5rem;
 }

 @media (min-width:768px) {
    .contact-button {
        width: 10rem;
        font-size: 2rem;
        font-weight: bold;
        border: 3px solid #000;
        border-radius: 20px;
        box-shadow: 3px 3px 0px coral;
     }
  }

.contact-button:hover{
    background-color: coral;
}




  footer {
    display: flex;
    justify-content: center;
    font-size: .6rem;
    padding: 2rem;
    margin-top: 2rem;
  }

  @media (min-width:768px) {
    footer {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        margin-top: 5rem;
      }
  }